<div class="full-width-table">
  <mat-grid-list [cols]="2" rowHeight="65px">
    <mat-grid-tile >
      <h1 class="align-start text-color">Rooms</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <form class="align-end form-style">
        <mat-form-field class="full-width-input">
          <input  matInput placeholder="Search"  (keyup)="applyFilter($event.target.value)" type="text"/>
        </mat-form-field>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="mat-elevation-z8" (scroll)="row">
    <table mat-table class="inside-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Room Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Door Column -->
      <ng-container matColumnDef="doorLocks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Doors</th>
        <td mat-cell *matCellDef="let row  ">{{row.doorNames}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource.data.length"
                   [pageIndex]="0"
                   [pageSize]="20"
                   [pageSizeOptions]="[20, 50, 100, 250]">
    </mat-paginator>
  </div>
</div>
