<input type="text" class="w-100 slab-form__input slab-form__input--topradius" [(ngModel)]="userName" [class.slab-form_input--error]="inputUserName.invalid && inputUserName.touched"
       id="inputUserName" placeholder="{{txtUsername}}" #inputUserName="ngModel" name="inputUserName" (keyup.enter)="doLogin()"
       required autocomplete="off">

<input type="password" class="w-100 slab-form__input slab-form__input--bottomradius" [(ngModel)]="password" [class.slab-form_input--error]="inputPassword.invalid && inputPassword.touched"
       id="inputPassword" placeholder="{{ 'COMMON_PASSWORD' | translate | async }}" #inputPassword="ngModel" name="inputPassword"
       (keyup.enter)="doLogin()" required autocomplete="off">

<div class="slab-form_input--marginTop15 text-right" *ngIf="isRecoveryActive">
  <a href="#" class="slab-text slab-text--link" (click)="goRecovery()">{{ 'COMMON_FORGOT_PASSWORD' | translate | async }}</a>
</div>

<button type="button" class="w-100 btn btn-primary slab-form__submit mt-4" [disabled]="inputUserName.invalid ||  inputPassword.invalid"
        (click)="doLogin()">{{ 'COMMON_ENTER' | translate | async }}
</button>

<div class="slab-form_input--marginTop25 text-center" *ngIf="isSignUpActive">
  <a href="#" class="slab-text slab-text--link  " (click)="goSignUp()">{{ 'COMMON_CREATE_NEW_ACCOUNT' | translate | async }}</a>
</div>

<div *ngIf="errorUserPwd" class="alert alert-danger text-center slab-form_input--marginTop25">
  <a>{{ 'ERROR_INCORRECT_USERNAME_OR_PASSWORD' | translate | async }}</a>
</div>

<div *ngIf="isLoading" class="text-center pt-2">
  {{ 'COMMON_LOADING' | translate | async }}...
  <i class="icon-spinner spin"></i>
</div>
