.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%;
  margin-top: 35px;
  background: gainsboro;
}

.mat-toolbar.mat-primary {
  height: 35px;
}

.menu-button {
  text-align: center;
  width: 100%;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font-size: small;
}

.mat-button-toggle-group {
  width: 100%;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

.mat-button-toggle {
  background-color: gainsboro;
  border: 1px;
}

.mat-button-toggle-checked {
  background-color: darkorange;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 0;

}

.mat-nav-list {
  margin: 0;
  padding: 0;
}

.mat-button-toggle-login-logout-group {
  align-content: end;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

.login-logout-icons {
  text-align: center;
  width: 100%;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font-size: small;
}

.access-constrol-system {
  font-size: medium;
  display: inline-block;
  margin: 0;
  position: fixed;
}

.fixed {
  //position: fixed;
}

mat-sidenav-content {
  margin-left: 0 !important;
  flex: 1 1 auto;
}

.information-icon {
  margin-left: 10%;
  width: 23px;
  height: 23px;
}

.setting-icon {
  margin-left: 10%;
  width: 23px;
  height: 23px;
}

.account-icon {
  color: #EFA023;
  margin-left: 40%;
  width: 23px;
  height: 23px;
}
