<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav"
               [fixedInViewport]="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <mat-button-toggle-group [vertical]="true" class="mat-button-toggle-group" value="default">
        <mat-button-toggle class="menu-button" (click)='loadAccessManagementComponent();' value="default">Access Management</mat-button-toggle>
        <mat-button-toggle class="menu-button" (click)='loadUserComponent();'>Users</mat-button-toggle>
        <mat-button-toggle class="menu-button" (click)='loadRoomsComponent();'>Rooms</mat-button-toggle>
        <mat-button-toggle class="menu-button" (click)='loadEventsComponent();'>Actions</mat-button-toggle>
        <mat-button-toggle class="menu-button" (click)='loadReportsComponent();'>Reports</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

<mat-sidenav-container>
  <mat-sidenav-content class="orange">
    <mat-toolbar color="primary" class="access-constrol-system">
      <mat-grid-list [cols]="7" rowHeight="100%">
        <mat-grid-tile class="center">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            class="fa fa-bars"
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5">
          <span class="center">Access Control System</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="../../../assets/user.png" class="account-icon" />
          <img src="../../../assets/settings.png" class="setting-icon" />
          <img src="../../../assets/information.png" class="information-icon" />
        </mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>

<app-access-management id="accessManagement"></app-access-management>
<app-user id="users"></app-user>
<app-room id ="rooms"></app-room>
<app-event-table id="events"></app-event-table>
<app-report id="reports"></app-report>
