.inside-width-table {
  width: 100%;
}


.full-width-table {
  width: auto;
  height: 100%;
  margin-right: 2%;
  margin-left: 17%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.create-delete-buttons button,
.create-delete-buttons a {
  margin-right: 8px;
}
