.user-blue-icon {
  margin-left: 40%;
  width: 23px;
  height: 23px;
}

.align-top {
  position: absolute;
  top: 5px;
}


.scan-image{
  width : 270px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 15px;
}

.completed-scan{
  width : 270px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 15px;
}



.mat-raised-button {
  margin-left: 75px;
  width: 200px;
}
