/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

body{
  margin: 0;
}


.text-color{
  color: #5F5F5F;
  margin-left: 2%;
}


.align-top {
  top: 1px;
}

.align-start {
  position: absolute;
  display: flex;
  left: 20px;
}

.align-bottom {
  bottom: 5px;
}


.align-end {
  position: absolute;
  display: flex;
  right: 20px;
}

.error-color{
  color: #DC3545;
}

.orange{
  background-color: darkorange;
}

.red{
  background-color: #DC3545;
}

.green{
  color: green;
}

.red-color{
  color: red;
}


#toast-container>.toast-success {
  background-color: #5CCC6E;
  color: white;
}
