.mat-menu-panel {
  min-width: 35px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 2px;
  outline: 0;
  background: transparent;
  padding-left: 10px !important;
}
